@font-face {
  font-family: 'TCC Sans Normal';
  src: url('../fonts/tccsans-normal-webfont.eot');
  src: url('../fonts/tccsans-normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/tccsans-normal-webfont.woff2') format('woff2'),
       url('../fonts/tccsans-normal-webfont.woff') format('woff'),
       url('../fonts/tccsans-normal-webfont.ttf') format('truetype'),
       url('../fonts/tccsans-normal-webfont.svg#tccsansnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/bebasneue_book-webfont.eot');
  src: url('../fonts/bebasneue_book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/bebasneue_book-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue_book-webfont.woff') format('woff'),
       url('../fonts/bebasneue_book-webfont.ttf') format('truetype'),
       url('../fonts/bebasneue_book-webfont.svg#bebas_neuebook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker Regular';
  src: url('../fonts/PermanentMarker-webfont.eot');
  src: url('../fonts/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PermanentMarker-webfont.woff') format('woff'),
       url('../fonts/PermanentMarker-webfont.ttf') format('truetype'),
       url('../fonts/PermanentMarker-webfont.svg#permanent_markerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klartext Mono Light';
  src: url('../fonts/KlartextMono-Light-webfont.eot');
  src: url('../fonts/KlartextMono-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/KlartextMono-Light-webfont.woff2') format('woff2'),
       url('../fonts/KlartextMono-Light-webfont.woff') format('woff'),
       url('../fonts/KlartextMono-Light-webfont.ttf') format('truetype'),
       url('../fonts/KlartextMono-Light-webfont.svg#klartext_monolight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'Tangerine Regular';
    src: url('../fonts/tangerine_regular-webfont.eot');
    src: url('../fonts/tangerine_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tangerine_regular-webfont.woff2') format('woff2'),
         url('../fonts/tangerine_regular-webfont.woff') format('woff'),
         url('../fonts/tangerine_regular-webfont.ttf') format('truetype'),
         url('../fonts/tangerine_regular-webfont.svg#tangerineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}